@model IEnumerable<Asp.Models.usuariorol>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Rol</h2>

<p>
    @Html.ActionLink("Crear Nuevo Rol", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Asp.Controllers.UsuarioRolController.NombreRol(item.idRol)
        </td>
        <td>
            @Asp.Controllers.UsuarioRolController.NombreUsuario(item.idUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿desea eliminar?'))
                event.preventDefault();
        })
    </script>
}
