@model IEnumerable<Asp.Models.producto_compra>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista Producto Compra</h2>

<p>
    @Html.ActionLink("Crear Nuevo Producto Compra", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Cantidad
        </th>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Asp.Controllers.ProductoCompraController.IdCompra(item.id)
            </td>
            <td>
                @Asp.Controllers.ProductoCompraController.NombreProducto(item.id_producto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿desea eliminar?'))
                event.preventDefault();
        })
    </script>
}

