@model Asp.Models.IndexViewModel
@{
    ViewBag.Title = "Lista";
}

<h2>Lista Producto Compra</h2>

<p>
    @Html.ActionLink("Crear Nuevo Producto Compra", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Cantidad
        </th>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

    @foreach (var compra in Model.ProductoCompra)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelPcCompra => compra.cantidad)
            </td>
            <td>
                @Asp.Controllers.ProductoCompraController.IdCompra(compra.id)
            </td>
            <td>
                @Asp.Controllers.ProductoCompraController.NombreProducto(compra.id_producto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = compra.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = compra.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = compra.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@{ Html.RenderPartial("Paginador", Model);}

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿desea eliminar?'))
                event.preventDefault();
        })
    </script>
}


