@model Asp.Models.usuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="nombre">Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="apellido">Apellido</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="fecha_nacimiento">Fecha Nacimiento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="email">Email</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a Lista", "PagIndex")
</p>
