@model Asp.Models.proveedor

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles </h2>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="nombre">Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="direccion">Dirección</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="telefono">Teléfono</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="nombre_contacto">Nombre Contacto</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_contacto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
