@model IEnumerable<Asp.Models.Reporte>
@{
    ViewBag.Title = "ReportePdf";
}
<h2>Reporte Producto</h2>

<table class="table">

    <tr>
        <th>Proveedor</th>
        <th>Teléfono Proveedor</th>
        <th>Dirección Proveedor</th>
        <th>Producto</th>
        <th>Precio Producto</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombreProveedor)</td>
            <td>@Html.DisplayFor(modelItem => item.telefonoProveedor)</td>
            <td>@Html.DisplayFor(modelItem => item.direccionProveedor)</td>
            <td>@Html.DisplayFor(modelItem => item.nombreProducto)</td>
            <td>@Html.DisplayFor(modelItem => item.precioProducto)</td>

        </tr>
    }
</table>
<img style="margin:20px 20px 20px 30%; width:30%; padding:10px; border-radius:10px;"
     src="https://i.pinimg.com/736x/27/b6/a7/27b6a769debf93bdcb61dd1a3d982cad.jpg" height="300px" width="300px" />

