@model Asp.Models.compra

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="fecha">Fecha</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="total">Total</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="id_cliente">Cliente</label>
        </dt>

        <dd>
            @Asp.Controllers.CompraController.NombreCliente(Model.id_cliente)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="usuario">Usuario</label>
        </dt>

        <dd>
            @Asp.Controllers.CompraController.NombreUsuario(Model.id_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
