@model IEnumerable<Asp.Models.ReporteCompra>
@{
    ViewBag.Title = "Reporte";
}

<h2>Reporte Compra</h2>

<table class="table">

    <tr>
        <th>Fecha de Facturación</th>
        <th>Cliente</th>
        <th>Cantidad de Producto</th>
        <th>Total compra</th>
        <th>Atendido por</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.fechaCompra)</td>
            <td>@Html.DisplayFor(modelItem => item.nombreCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.cantidadProdctComp)</td>
            <td>@Html.DisplayFor(modelItem => item.totalCompra)</td>
            <td>@Html.DisplayFor(modelItem => item.nombreUsuario)</td>
        </tr>
    }
</table>
<img style="margin:20px 20px 20px 30%; width:30%; padding:10px; border-radius:10px;"
     src="https://i.pinimg.com/236x/6e/aa/fb/6eaafba7a092547bdf6cc05b84c2c0d5.jpg" height="300px" width="300px" />

